.users_addbtn {
    background-color: #7009ab !important; 
    color: #fff !important;
    margin-right: 5px !important;
    height: 40px !important;
    padding: 10px !important;
    font-weight: 600 !important;
    border-radius: 7px !important;
    float: right !important;
    border: 0px !important;
}
.users_addbtn:hover {
    background-color: #fff !important;
    border: 1px solid #7009ab !important;
    color: #7009ab !important;
}
.users_btngrp {
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border-color: #ddd !important;
    margin: 1px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.users_tbtnedit {
    background-color: #1572e8 !important;
    border-color: #1367d1 !important;
    color: #fff !important;
    margin: 1px !important;
    margin-right: 5px !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    height: 30px !important;
    font-size: 12px !important;
    font-weight: 750 !important;
}
.users_tbtnview {
    background: #11cdef !important;
    border-color: #0fb9d8 !important;
    color: #fff !important;
    margin: 1px !important;
    margin-right: 5px !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    height: 30px !important;
    font-size: 12px !important;
    font-weight: 750 !important;
}
.users_tbtndelt {
    background: #f5365c !important;
    border-color: #f41e48 !important;
    color: #fff !important;
    margin: 1px !important;
    margin-right: 5px !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    height: 30px !important;
    font-size: 12px !important;
    font-weight: 750 !important;
}
.users_txtarea {
    border: 1px solid #b97fd0 !important;
    padding-left: 10px !important;
    margin-top: 5px !important;
}
.user_linkbtn {
    text-decoration: none !important;
    color: #fff !important;
}
